
* {margin:0; padding:0;}

header, main, nav, aside, section{
	display: block;
	font-family: Lato;}

a{	text-decoration:none;}

header 	{
	width: 100%;
	height: 657px;
	background-color: #ED4C5C;
	}


#logo{
	background-image: url("../images/logoq.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: block;

	margin-top: 59px;
	margin-left: 51.45px;

	position: absolute;
	width: 177px;
	height: 22px;

}

#logo span {
	margin-top: 2px;
	margin-left: 35px;
	position: absolute;
	width: 160px;
	height: 22px;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
}


nav{
	position: absolute;
	width: 445px;
	height: 22px;
	left: 49px;
	top: 129px;
}

nav a{
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	margin-right: 15px;
}

nav a:hover
	{color: lightgray;}


nav .current_page_item {font-weight: bold;}



#signup_img{
	width: 445px;
	height: 311px;
	border-radius: 15px;
	margin-left: 89px;
	margin-top: -450px;
	display: block;
	}


#signup_btn {

	position: absolute;
	width: 160px;
	height: 50px;
	left: 51px;
	top: 552px;

	border-radius: 6px;
	border: none;

	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	text-transform: uppercase;
	background-color: #FFFFFF; /*button color*/
	color: #ED4C5C; /*text color*/

  }

#paragraph {background-color: #FFFFFF;}

#title_myName{
	position: absolute;
	width: 445px;
	height: 89px;
	left: 50px;
	top: 713px;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	
}

#paragraph2
{
	position: absolute;
	width: 445px;
	height: 83px;
	left: 50px;
	top: 780px;
	
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
	color: #000000;
}

#learn{
	position: absolute;
	width: 72px;
	height: 26.28px;
	left: 50px;
	top: 855px;

	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;

	text-align: justify;

	color: #ED4C5C;
}

.three_images a{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #ED4C5C;
		
	position: absolute;
	width: 350px;
	height: 40px;
	left: 0;
	top: 640px;
	
	background: #FFFFFF;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.three_images img{
	border-radius: 8px;
	width: 350px;
	height: 248.86px;
	position: absolute;
	top: 400px;
}

#stroy{
	position: absolute;
	left: 50px;
}

#vision{
	position: absolute;
	left: 430px;
}

#dream{
	position: absolute;
	left: 810px;
}

#skills0{
	position: absolute;
	height: 657px;
	width:100%;
	top: 1260px;
	background: #F5F4F4;
}

#sk_title {
	width: 300px;
	height: 47px;
	margin-left: 50px;
	top: 1260px;
	margin-top: 57px;

	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;

	color: #000000;
}

.skills_box{
	margin-top: 55px;
	width: 255px;
	height: 226px;
	background: #FFFFFF;
}

.skills_box h2{
	margin-top: 139px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align:center;
	color: #101010;
}

.skills_box img{
	position: absolute;
	top: 60px;
	height: 64px;
	margin-left: 96px;
}

.skills_box p{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-top: 10px;
	color: #000000;
}
#skill1{
	position: absolute;
	left: 50px;
}

#skill2{
	position: absolute;
	left: 335px;
}


#skill3{
	position: absolute;
	left: 620px;
}


#skill4{
	position: absolute;
	left: 905px;

}

footer{
	position: absolute;
	margin-top: 1400px;
	height: 80px;
	width: 100%;
	background-color: #ED4C5C;
}

footer h6{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}

.social_media_bar a {
    position: absolute;
	margin: top 20px;
}

.social_media_bar img{
	height: 28px;
	width: 28px;
}

#Copyright{
	margin-left: 264px;
	margin-top: 29px;
}

#ins {
	margin-left: 53px;}
#lin {

	margin-left:107px;}
#fb {		
	margin-left: 160px;}

